body {
	margin: 0px;
}

.container {
	position: relative;
	z-index: 1;
}

/* Navigation bar at the top of the page */
.nav h1 {
	color: #ff6600;
	background: #660000;
	margin: 0px;
	padding: 10px;
}

.nav ul {
	height: 50px;
	width: 99.85%;
	margin-top: 0px;
	border: 1px;
	border-style: solid;
	border-color: #ff6600;
	padding: 0px;
	background: #660000;
}

.nav  li{
	height: 80%;
	display: inline-block;
	text-decoration: none;
    color: gray;
	text-align: center;
	line-height: 40px;
	background: #660000;
	padding: 5px 20px;
	border: none;
	float: left;
}

.nav li:hover {
	background: #8b1717;
}

.nav li a {
	display: block;
}

.nav li a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

.nav li a:-moz-any-link {
    text-decoration: none;
    color: white;
}

.container {
	font-family: Arial, Helvetica, sans-serif;
}